@using CetaitQuoiLeContexte.Core.Interfaces.Data
@using CetaitQuoiLeContexte.Razor.Web.UI.Data.Extensions
@model IContext

<div class="card">
    <div class="card-body">
            <a asp-page="/Context" asp-route-title="@Model.HtmlTitle"><h2 class="card-title">@Model.Message</h2></a>
            @if (!string.IsNullOrEmpty(Model.From))
            {
                <p class="card-text">Context : @Model.From</p>
            }

            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary publish-fb" data-url="" data-content="@Model.Message">Partage sur facebook</a>
            </div>
    </div>
</div>