@page "{title}"
@model CetaitQuoiLeContexte.Razor.Web.UI.Pages.ContextModel
@{
    ViewData["Title"] = this.Model.Current.Message + " - C'était quoi le contexte, déjà ?";
}

<div class="row">
    <h1>@Model.Current.Message</h1>
</div>

@if (!string.IsNullOrEmpty(Model.Current.From))
{
    <div class="row">
        <div class="col-lg-2"><b>Contexte repéré</b> :</div>
        <div class="col-lg-3"><h3>@Model.Current.From</h3></div>
    </div>
}


