@page
@model IndexModel
@{
    ViewData["Title"] = "C'était quoi le contexte, déjà ? - Une pause bien méritée";
}


@if (Model.ContextList != null)
{
<div class="container">
    @foreach (var item in Model.ContextList)
    {
        <partial name="_ContextPartial.cshtml" model="item" />
    }

    @if (this.Model.IsPreviousExists)
    {
        <div class="row text-left">
            <a href="/page/@Model.PreviousPageIndex" class="btn btn-primary">< Précédent(s)</a>
        </div>
    }

    @if (this.Model.IsNextPageExists)
    {
        <div class="row text-right">
            <a href="/page/@Model.NextPageIndex" class="btn btn-primary">Suivant(s) ></a>
        </div>
    }
</div>
}



