@page
@model IndexModel
@{
    ViewData["Title"] = "C'était quoi le contexte, déjà ? - Une pause bien méritée";
}


@if (Model.ContextList != null)
{
<div class="container">
    @foreach (var item in Model.ContextList)
    {
        <partial name="_ContextPartial.cshtml" model="item" />
    }

    @if (this.Model.IsNextPageExists)
    {
        <div class="row text-right">
            <a href="#" class="btn btn-primary">Suivants ></a>
        </div>
    }
</div>
}



